* {
    box-sizing: border-box;
  } 

  header {
      margin: auto;
      border: 1px solid black;
      text-align: center;
     
  }

 input {
   border: solid red 1px;
 }
  
  

  .inner {
    border : solid 1px black;
    text-align: center;
    margin-top: 30px;
    /* padding: 30px; */
  }
  
  .frame {
    margin: 10%;
    border: 1px solid red;
    
  }
 
  .section-2 {
    flex:1;
    display: flex;
    flex-direction: column;
    
  }
  .small-container {
    flex: 1;
  }
  

 @media(min-width:700px) {
  .section {
    display: flex;
    justify-content: space-around; 
   
  }
  .big-container {
   flex:1 0 0;
  }
  .section-2 {
    flex: 1 0 0 ;
   
  }
 }